.CartItems {
  &-Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 15px;
  }

  &-Items {
    height: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 15px;
  }

  &-Empty {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  &-Message {
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}